html {
    width: 100%;
    background-color: #000;
    background-image: url("../images/original.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    


}

body {
    width: 80%;
    /* body element is 80% size of the whole html element */
    background-color: rgba(100, 100, 100, 0.9);
    height: auto;
    margin:auto;
    /* center the body of the element */
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;

    
}

img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 170px;
    height: 170px;

}

header {
    width: 100%;
    height: 100px;
    color: white;
    background-color:rgba(69, 63, 73, 0.9);
    border-radius: 15px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    
}

header h1 {
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-shadow: 3px 1px 5px #000;

}

section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

section h2, h3 {
    text-align: center;
}

div {
    margin: 20px;
    padding: 20px;
}

.hero {
    background-color: #103ced;
}

.villain {
    background-color: #e0180d;
}

.neutral {
    background-color: #635756;
}