html {
    width: 100%;
    background-color: #000;
    background-image: url("../images/endgame.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

body {
    width: 80%;
    /* body element is 80% size of the whole html element */
    background-color: rgba(100, 100, 100, 0.7);
    height: auto;
    margin:auto;
    /* center the body of the element */
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;    
}

img{
    display: block;
    margin: auto;
}

header {
    width: 100%;
    height: 100px;
    color: white;
    background-color:rgba(69, 63, 73, 0.9);
    border-radius: 15px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    
}

header h1 {
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-shadow: 3px 1px 5px #000;

}

section {
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    margin: 20px;
    
}

.hero, .villain {
    display: inline;
}

section h2,h3 {
    text-align: center;

}

div {
    margin: 20px;
    padding: 20px;
}

.hero {
    background-color: #283e923f;
    width: 700px;
    
}

.villain {
    background-color: rgba(163, 16, 16, 0.274);
    width: 700px;
}

.neutral {
    background-color: #635756;
    width: 700px;
}
